<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
  <link rel="stylesheet" href="style.css">
  <body>
    <div id="app">
      <h4>Todo List</h4>
      <input type="text" @keydown.enter="addTodo">
      <ul>
        <li v-for="todo in todoList" :key="todo.id" :class="{'completed-item':todo.completed,'uncompleted-item':!todo.completed}">
        <div>
          <input type="checkbox" v-model="todo.completed" >
          <label for="">{{todo.text}}</label>
          <button @click="removeItem(todo)">Sil</button>
        </div>
       </li>
      </ul>
      <div><pre>{{todoList}}</pre></div>
    </div>
    <script src="app.js"></script>
</body>
</html>
