.completed-item {
  background-color: rebeccapurple;
  margin: 10px;
  border-radius: 20px;
  height: 30px;
  display: flex;
  align-items: center;
}
.uncompleted-item {
  background-color: orangered;
  margin: 10px;
  border-radius: 20px;
  height: 30px;
  display: flex;

  align-items: center;
}

ul {
  list-style: none;
}
